* {
  box-sizing: border-box;
}

.lettersAnimation {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #777;
  font-family: "Holtwood One SC", serif;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-size: 3em;
  overflow: hidden;
}

// .sectionHuman {
//   position: relative;
//   z-index: 0;

//   &::after {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     text-transform: uppercase;
//     position: absolute;
//     text-align: center;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -55%);
//     font-size: 2.5em;
//     letter-spacing: 0.5em;
//     // content: attr(data-identity);
//     color: #eaeaf2;
//     z-index: -1;
//     animation: animLetterSpacing 15000ms infinite ease-in-out;
//   }
// }

.sectionHuman h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  font-size: 2.5em;
  letter-spacing: 0.5em;
  // content: attr(data-identity);
  color: #eaeaf2;
  z-index: -1;
  animation: animLetterSpacing 15000ms infinite ease-in-out;
}

@media (max-width: 732px) {
  .sectionHuman {
    position: relative;
    z-index: 0;
    &::after {
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -65%);
      font-size: 1.2em;
      letter-spacing: 0.5em;
      // content: attr(data-identity);
      color: #eaeaf2;
      z-index: -1;
      animation: animLetterSpacing 15000ms infinite ease-in-out;
    }
  }
  .sectionHuman h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translate(-50%, -60%);
  }
  .lettersAnimation {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #777;
    font-family: "Holtwood One SC", serif;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    overflow: hidden;
  }
}

.lettersAnimation .pen__lines-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
}

.lettersAnimation .pen__line {
  flex: 1;
  // border-right: solid 1px #eaeaf2;
  opacity: 0.8;
  position: relative;
}

.lettersAnimation span {
  font-family: "Holtwood One SC", serif;
  font-family: "Kanit", sans-serif;
  font-style: italic;
  display: inline-block;
  color: #fff;
}

@keyframes animLetterSpacing {
  0% {
    letter-spacing: 2.5em;
    opacity: 0;
  }

  40% {
    opacity: 1;
    letter-spacing: 0.2em;
  }

  70% {
    letter-spacing: 0.75em;
    opacity: 1;
  }

  100% {
    letter-spacing: 2.5em;
    opacity: 0;
  }
}
