@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Kanit:ital,wght@1,600&display=swap");

.header__global {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.11); */
  background: rgba(0, 0, 0, 0.808);
  width: 100vw;
  height: 88px;
  display: flex;
  align-items: start;
  padding: 20px;
  z-index: 1;
  justify-content: space-around;
}

.logo {
  width: 195px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo img {
  position: relative;
  object-fit: cover;
  width: 195px;
  height: 30px;
}

.logo h1 {
  font-size: 24px;
  color: white;
}

.header__menu {
  background: none;
}
.navbar-nav {
  display: flex;
  gap: 20px;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dropIcon {
  color: #848895;
  transition-duration: 0.3s;
}

.dropdown a {
  color: #848895 !important;
  transition-duration: 0.3s;
  font-size: 18px;
}

.dropdown a:hover,
.dropdown a:hover .dropIcon {
  color: #fff !important;
}
.dropdown a:focus,
.dropdown a:focus .dropIcon {
  color: #fff !important;
}

.navbar-nav {
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}
.dropdown-menu {
  width: auto !important;
  max-width: auto;
  background: rgba(0, 0, 0, 1);
  transition-duration: 0.3s !important;
  animation: bounce 4s linear infinite;
  text-align: left;
  height: auto !important;
}

.dropdown-item {
  position: relative;
  width: auto;
}
.dropdown-item {
  width: auto;
  height: 40px !important;
}

.dropdown-menu:hover {
  background: rgb(29, 29, 29);
}
.dropdown-menu a:hover {
  background: rgb(34, 34, 34);
  color: white;
}
.googleTr {
  width: 24px;
  filter: grayscale(1);
}

.comunidad__item {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background: none;
    padding-top: 15px;
  }
  .navbar-toggler {
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(0, 0, 0, 0);
  }
  .navbar-toggler-icon {
    width: 50px;
    height: 50px;
  }
  .navbar-nav {
    background: rgba(0, 0, 0, 1);
    padding: 20px 0px 0 20px;
    transform: translate(-15px, 10px);
    transition-duration: 0.3s;
  }
  .dropdown-menu {
    background: rgba(0, 0, 0, 1);
    transform: translate(-15px, 10px);
    transition-duration: 0.3s !important;
    animation: none;
  }
  .nav-link:hover,
  .dropdown-menu:hover {
    background: rgba(0, 0, 0, 0.11);
  }
  .dropdown-menu a:hover {
    background: rgba(36, 36, 36, 0.22);
    color: white;
  }
}
