.header__global {
  position: absolute;
  /* background: rgba(255, 255, 255, 0.11); */
  background: rgba(0, 0, 0, 0.11);
  width: 100vw;
  height: 88px;
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.logo {
  width: 195px;
  height: 30px;
}

.logo img {
  position: relative;
  object-fit: cover;
  width: 195px;
  height: 30px;
}
